# File to store all sensitive information needed for pipeline use
# Please change your info as needed, and then copy and paste this file into the same directory as ".env"

# Local directories (do not include the last hyphen in the path name)
input_dir = "ENTER_INPUT_DIR_HERE"
tourney_data_dir = "ENTER_DIR_W_RAW_TOURNEY_DATA_HERE"
output_dir = "ENTER_OUTPUT_DIR_HERE"